:root {
  font-family: "fantasy, monospace, sans-serif";
  text-align: justify;
  background: --linear-gradiant();
}

.App {
  font-family: "hack";
  text-align: center;
  background-color: #00ffaa;
}
